.swipeList {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 70vh;

}
/* slider */
.swipeList .swiper{
  width: 100%;
  padding: 0 60px;
  overflow: visible!important;
}

.swipeList-slider .swiper-slide {
  width: 305px!important;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.swipeList-slider .swiper-slide img {
  filter: none;
  position: relative;
  border-radius: 8px;
}

.swipeList-slider .swiper-slide span:nth-child(2) {
    margin-top: 20px;
    font-weight: 500;
    font-size: 24px;
}
.swipeList-slider .swiper-slide span:nth-child(3) {
    margin-top: 10px;
    width: 70%;
    font-weight: 400;
    font-size: 20px;
    text-overflow: ellipsis;
}
.swipeList img {
  width: 19rem;
  filter: drop-shadow(-12px 15px 13px rgba(0, 0, 0, 0.25));
  border-radius: 19px;
}