.homePageApp{
    width: 100vw;
    min-height: 100vh;
    margin: 0;
    overflow: hidden;
    background-color: var(--bg-color);
    color: var(--primary-text-color);    
}

.misc {
  width: 100px;
  position: fixed;
  top: 200px;
  right: 20px;
  transform: rotate(0deg);
  filter: blur(2px);
  opacity: 0.5;
  animation: rotateRight 4s linear infinite;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -1s);
}

.misc1 {
  width: 100px;
  position: fixed;
  bottom: 150px;
  left: 20px;
  transform: rotate(-20deg);
  filter: blur(4px);
  opacity: 0.5;
  animation: rotateLeft 2s linear infinite;
  animation-play-state: paused;
  animation-delay: calc(var(--scroll) * -1s);
}

@keyframes rotateRight {
  to {
    transform: rotate(360deg);
  }
}

@keyframes rotateLeft {
  to {
    transform: rotate(-360deg);
  }
}

  @media screen and (max-width: 480px) {
    .homePageApp {
      padding: 0.5rem 1rem;

    }
  }