.Intro {
  display: flex;
  flex-direction: row;
  height: 100vh;
  padding-top: 9rem;
}

/* left side styling */
.i-left {
  display: flex;
  flex: 1;
  position: relative;
}
.i-background {
  flex: 1;
}
.i-background > * {
  width: 120%;
  height: 78%;
  position: absolute;
  border-radius: 0% 100% 28% 72% / 100% 0% 100% 0% ;
}

/* right side styling */
.i-right {
  display: flex;
  flex-direction: column;
  justify-content: left;
  flex: 1;
  position: relative;
  user-select: none;
}
.i-name {
  display: flex;
  width: 50%;
  height: 72%;
  flex-direction: column;
  text-align: left;
  gap: 0.25rem;
  background-color: var(--bg-color);
  color: var(--primary-text-color);
  padding: 45px 20px 0 20px;
  border-radius: 0 8px 8px 0;
  box-shadow: 20px 10px 20px rgba(128, 128, 128, 0.2);
  font-weight: bold;
  font-size: 3rem;
  position: relative;
}
.i-name > * {
  display: flex;
  justify-content: left;
}

.i-name span:last-child {
  font-weight: normal;
  font-size: 1.2rem;
}

.i-button {
  border: 2px solid transparent;
  position: relative;
  top: -100px;
  color: var(--primary-text-color);
  background-color: #FFB897;
  border-radius: 36px;
  transition: all 0.3s ease;
}
.i-button:hover {
  color: var(--foreground-color);
  background-color: #c98869;
  border: 2px solid var(--foreground-color);
}

.homePageApp .floating-div:nth-child(5) .floatingDiv {
  background-image: linear-gradient(to left, #ffffff, #f4f4f4, #e9e9e9, #dedede, #d3d3d3);
  box-shadow: 10px 0 10px -10px #4c4c4c;
}
.homePageApp .floating-div:nth-child(6) .floatingDiv {
  background-image: linear-gradient(to left, #ffffff, #f4f4f4, #e9e9e9, #dedede, #d3d3d3);
  box-shadow: 10px 0 10px -10px #4c4c4c;
}

.homePageApp.Dark .floating-div:nth-child(5) .floatingDiv {
  background: linear-gradient(to left, #ffffff, #c7c7c7, #929292, #4c4c4c, #333333);
  box-shadow: 10px 0 10px -10px white;
}
.homePageApp.Dark .floating-div:nth-child(6) .floatingDiv {
  background: linear-gradient(to left, #ffffff, #c7c7c7, #929292, #4c4c4c, #333333);
  box-shadow: 10px 0 10px -10px white;
}

/* blur */
.blur {
  position: absolute;
  width: 22rem;
  height: 14rem;
  border-radius: 50%;
  background: #edd0ff;
  filter: blur(212px);
  z-index: -9;
  top: -18%;
  left: 56%;
  filter: blur(72px);
}

@media screen and (max-width: 480px) {
  .Intro {
    display: flex;
    flex-direction: column;
    height: 200vh;
    margin-top: 9rem;
  }
 
  .i-left {
    max-height: 200px;
  }
  .i-background{
    height: 100%;
  }
  .i-background > * {
    width: 100%;
    height: 100%;
    transform: translateX(-10%);
    position: relative;
    border-radius: 12px;
  }

  .i-name {
    display: flex;
    width: 100%;
    height: 40%;
    transform: translateX(-30%);
  }
}